<p id="notice"><%= notice %></p>

<h1>Pistas disponibles en <%= @institution.name %></h1>

<% @pitches.each do |pitch| %>
<div class="row">
  <div class="col-md-4">
    <%= link_to image_tag(pitch.image, class:"img-rounded img-responsive", alt: pitch.name), institution_pitch_path(pitch) %>
  </div>
  <div class="col-md-4">
    <p><h4><%= pitch.name %></h4></p>
    <p>
    <h6><%= pitch.name %></h6>
    </p>
  </div>

</div>
<% end %>



<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
