<p id="notice"><%= notice %></p>

<p><h1 class="text-center" >Pistas disponibles en <%= @institution.name %></h1></p>

<% @pitches.each do |pitch| %>
<div class="row" id="pitch_component">
  <div class="col-md-4">
    <%= link_to image_tag(pitch.image, class:"img-thumbnail img-responsive", alt: pitch.name), institution_pitch_path(pitch) %>
  </div>
  <div class="col-md-6">
    <p><h4><%= pitch.name %></h4></p>
    <p>
    <h6><%= pitch.name %></h6>
    </p>
  </div>
  <div class="col-md-2">

       <p><h3>Precio: <strong><%=pitch.normal_price%> </strong><span class="glyphicon glyphicon-euro"></span> <small class="text-right">por hora</small></h3></p>
       <p><h5>Precio especial: <strong><%=pitch.special_price%> </strong><span class="glyphicon glyphicon-euro"></span></h5></p>

  </div>

</div>
<% end %>



<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
