<% @sel.each do |h| %>
<input type="hidden" name='horario[]' value="<%=h%>" />
<% end %>
<input type="hidden" id="fecha" value="<%= @our_date%>" />
<script src="https://checkout.stripe.com/checkout.js"></script>
<%= hidden_field_tag 'stripeToken' %>
<%= hidden_field_tag 'stripeEmail' %>
<%= hidden_field_tag 'amount', @pitch.price_in_cents*(@n_selected.to_i) %>


<div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p><h3>Por favor, confirme que los datos seleccionados son correctos antes de proceder a la reserva.</h3></p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="excerpt">
      <div class="col-md-6">
        <p>Pista alquilada:</p> <p><b><%= @pitch.name %></b> de <b><%= @institution.city %></b></p>
        <p>
          Fecha y hora seleccionadas:
          <p id="hidden_hours"></p>
        </p>
        <p id="due"></p>
      </div>
      <div class="col-md-6">
        <%= image_tag(@pitch.image, class:"img-responsive", alt: @pitch.name) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
        <h5  id="warning">Tenga en cuenta que mientras la reserva no esté confirmada y pagada otro usuario podría reservar uno o varios tramos de su preselección de tal forma que si este la tramita antes que usted la suya quedaría anulada. No se demore.</h5>
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">

    var fecha = $('#fecha').val();
    var date = new Date(fecha);
    var options = { weekday: "long", year: "numeric", month: "long", day: "numeric" };
    var str_fecha = date.toLocaleTimeString("es-ES", options);
    str_fecha = str_fecha.slice(0, -8);
    $('#hidden_hours').append("<p><b> "+ str_fecha +"</b><p>");
    $('#due').append("<p>Coste:<b> "+ ($('#amount').val()/100) +" €</b><p>");

    var values = $("input[name='horario[]']").map(function(){return $(this).val();}).get();
    for (var i=0; i<values.length; i++){ $('#hidden_hours').append("<p><b>&emsp;"+ hourById(values[i]) +"</b><p>"); }
</script>

<%= form_tag charges_path, id: 'chargeForm' do %>

<% if flash[:error].present? %>
<div id="error_explanation">
  <p><%= flash[:error] %></p>
</div>
<% end %>

<div class="row">
  <button id="btn-buy" type="button" class="btn btn-primary center-block">
    <span class="glyphicon glyphicon-time"></span>
    Reservar</button>
</div>


<script>
  var handler = StripeCheckout.configure({
    key: '<%= Rails.configuration.stripe[:publishable_key] %>',
    token: function (token, arg) {
      document.getElementById("stripeToken").value = token.id;
      document.getElementById("stripeEmail").value = token.email;
      document.getElementById("chargeForm").submit();
    }
  });
  document.getElementById('btn-buy').addEventListener('click', function (e) {
    handler.open({
      name: 'Alquiler de pista',
      locale: 'auto',
      currency: 'eur',
      description: '<%= @pitch.name %>',
      amount: document.getElementById("amount").value
    });
    e.preventDefault();
  })
</script>

<% end %>
