<% @sel.each do |h| %>
<input type="hidden" name='horario[]' value="<%=h%>" />
<% end %>

<div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p><h3>Por favor, confirme que los datos seleccionados son correctos antes de proceder a la reserva.</h3></p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="excerpt">
      <div class="col-md-6">
        <p>Pista alquilada:</p> <p><b><%= @pitch.name %></b> de <b><%= @institution.city %></b></p>
        <p>
          Fecha y hora seleccionadas:
          <p id="hidden_hours"></p>
        </p>
        <p id="due"></p>
      </div>
      <div class="col-md-6">
        <%= image_tag(@pitch.image, class:"img-responsive", alt: @pitch.name) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
        <h5  id="warning">Tenga en cuenta que mientras la reserva no esté confirmada y pagada otro usuario podría reservar uno o varios tramos de su preselección de tal forma que si este la tramita antes que usted, la suya quedaría anulada. No se demore.</h5>
      </p>
    </div>
  </div>
</div>


<%= form_tag charges_path, id: 'chargeForm' do %>
<script src="https://checkout.stripe.com/checkout.js"></script>

<%= hidden_field_tag 'stripeToken' %>
<%= hidden_field_tag 'stripeEmail' %>
<%= hidden_field_tag 'selections' %>
<%= hidden_field_tag 'fecha', @our_date %>
<%= hidden_field_tag 'pistaId', @pitch.id %>
<%= hidden_field_tag 'amount', @pitch.price_in_cents*(@n_selected.to_i) %>

<div class="row">
  <button id="btn-buy" type="button" class="btn btn-primary center-block">
    <span class="glyphicon glyphicon-time"></span>
    Reservar</button>
</div>

<script>
var handler = StripeCheckout.configure({
  key: 'pk_test_FwaF79JSeIgI1CB7kjHbUFh2',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'es',
  token: function(token) {
      document.getElementById("stripeToken").value = token.id;
      document.getElementById("stripeEmail").value = token.email;
      document.getElementById("chargeForm").submit();
  }
});

document.getElementById('btn-buy').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'Stripe.com',
    description: '2 widgets',
    zipCode: true,
    amount: 2000
  });
  e.preventDefault();
});
// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>
<% end %>
