<div class="row">
  <div class="col-md-2">
    <p>
      <strong><%= @pitch.name %> de <%= @city.city %> </strong>

      <p>
        Seleccione fecha:
      </p>
    </p>

    <p><input type="text" class="datepicker" onkeydown="return false" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off></p>

    <table>
      <thead>
        Leyenda
      </thead>
      <tbody>
        <tr>
          <td id="desc_libre"></td>
          <td>
            <small>Libre</small>
          </td>
        </tr>
        <tr>
          <td id="desc_reservado"></td>
          <td>
            <small>Reservado</small>
          </td>
        </tr>
        <tr>
          <td id="desc_otros"></td>
          <td>
            <small>No reservable</small>
          </td>
        </tr>
        <tr>
          <td id="desc_cerrado"></td>
          <td>
            <small>Cerrado al público</small>
          </td>
        </tr>
        <tr>
          <td id="desc_select"></td>
          <td>
            <small>Selección actual</small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <p>
      <div id="dynamictable"></div>
    </p>
  </div>
  <p>
    <div class="col-md-3">
      <div id="selection"></div>
      <div id="booking"></div>

    </div>
    <div class="col-md-3">
      <div id="subtotal"></div>
      <div id="total_price" class="h4"></div>
      <div id="payment_button" class="hide">

        <%= link_to "Siguiente", ("/confirm"), onclick: 'JSONBack();',remote: true, class: "new" %>

      </div>

    </div>
  </p>
</div>

<div>
  <input type="hidden" id='pitch_id' value='<%= @pitch.id %>'>
  <input type="hidden" id='pitch_price' value='<%= @pitch.normal_price %>'>
  <!-- <p id='date'> </p> -->
</div>

<!-- <input type="button" class="btn btn-info" onclick="JSONBack();" value="¡Reserva!" /> -->
