<section>
<div id="footer">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
      <p> Más </p>

      <p>
        <ul>
          <li><%= link_to "Sobre nosotros", home_weare_path %></li>
          <li><%= link_to "Nuestra misión", home_mission_path %></li>
          <li><%= link_to "Preguntas frecuentes", home_faqs_path %></li>
          <li><%= link_to "Prensa y medios", home_press_path %></li>
          <li><%= link_to "Qué opinan de nosotros", home_opinions_path %></li>
          <li><%= link_to "Contacto", home_contact_path %></li>
        </ul>
      </p>


    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
        <div class="text-center">Un proyecto de</div>
        <p id="adeter_logo">
            <%= image_tag("adeter.png", alt: "Logo ADETER", class: "img-responsive") %>
        </p>
    </div>
  </div>
</div>
</section>
