<!DOCTYPE html>
<html>
  <head>
    <title>Poligol</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <p>
      <div class="container" id="main_section">

      <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
      <% end %>
    </div>
    </p>
    <div class="container">
      <%= yield %>
    </div>
    <div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
